/*Selector id*/

#contenedor{
    width: 900px;
    height: 1000px;
    background-color:  #f1ecea;
    color: #f1ecea;
    max-width: 0 auto;
}


#encabezado{
    text-align:center;
    height: 15%;
    background-color:  #3a251c;
    color: white;
    margin: 1em auto;
}

#menu{
    height: 5%;
    margin: 1em auto;
    background-color:  #b46424;
}

#seccion{
    height: 76%;
    width: 59%;
    background-color: #362f2f;
    margin: 0.5em;
    float: left;
}


#aseccion{
    height: 70%;
    width: 35%;
    background-color:  #b58c7c;
    margin: 0.5em;
    margin-left: 1%;
    float: right;
}

#pie{
    height: 10%;
    text-align: center;
    background-color:  #3a251c;
    color:  #3a251c;
    border-radius: 1em;
    margin: 1.5 em;
    margin-top: 1%;
}



/* Selector de class */
.texto{
    text-align: justify;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    color: white;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
}

.encabezado{
    text-align:center;
    color: black;
    margin: top 1em;
    margin-left: 1.5%;
}

.img{
    display: block;
    border: 1px solid;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100px;

}

.menu{
    text-align: center;
}

/* Selector tipo etiqueta*/
ul{
    text-align: center;
}
li{
    display: inline;
    padding-left: 6px;
    padding-right: 6px;
}


